@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Roboto", serif;
  letter-spacing: 1px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}


:root {
  --primary: #000;
  --secondary: rgb(24, 24, 27);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244, 244, 245);
  --subtitle: rgb(161, 161, 170);

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);

  --iconHover: #d4d4d8;
}

body {
  background-color: var(--primary);
  color: #fff;
}



.container {
  border: 2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  padding: 0 4.5rem;
}


.divider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
}


li {
  list-style: none;
}


a {
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}



button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.7;
}

.scroll-up{
  background-color: rgba(25, 118, 210, 0.85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.scroll-up:hover {
  background-color: rgb(25, 118, 220);
}

@media (max-width:1000px) {
  .container {
    width: 90%;
    padding: 0 1.7rem;
  }
}

@media (max-width:600px) {
  .container {
    width: 98%;
    padding: 0 1.7rem;
  }

  .scroll-up{
    opacity: 0.6;
    width: 2.2rem;
    height: 2.2rem;
  }
}